<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>@ViewData["Title"] - backup_website</title>
  <link rel="shortcut icon" href="~/img/logo/sansiri-logo-sm-white.png" />
  @await Html.PartialAsync("_Styles")
  <base href="/" />
</head>



<body data-sidebar="dark">
  @* <header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
      <div class="container-fluid">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">backup_website</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
          <ul class="navbar-nav flex-grow-1">
            <li class="nav-item">
              <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header> *@
  <div id="layout-wrapper">

    @await Html.PartialAsync("_Navbar")
    @await Html.PartialAsync("_Sidebar")

    <!-- Start right Content here -->
    <div class="main-content">
      <div class="page-content">
        <div class="container-fluid">

          <!-- start page title -->
          <div class="page-title-box">
            <div class="row align-items-center">
              <div class="col-md-8">
                <h6 class="page-title">Dashboard</h6>
                <ol class="breadcrumb m-0">
                  <li class="breadcrumb-item active">
                    Welcome to Veltrix Dashboard
                  </li>
                </ol>
              </div>
            </div>
          </div>
          <!-- end page title -->

          <main role="main" class="pb-3">
            @RenderBody()
          </main>

        </div>
      </div>
      <!-- End Page-content -->

      @await Html.PartialAsync("_Footer")
    </div>
    <!-- end main content-->

  </div>

  <!-- Right Sidebar -->
  @await Html.PartialAsync("_SidebarSettings")
  <!-- /Right-bar -->

  <!-- Right bar overlay-->
  <div class="rightbar-overlay"></div>

  @await Html.PartialAsync("_Scripts")
  @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
