@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100..900&display=swap");
html {
  font-size: 14px;
}
body {
  font-family: "Noto Sans Thai", serif !important;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* Custom Veltrix */

.right-bar .right-bar-toggle:hover {
  background-color: #2a3042db !important;
}

.dtr-details {
  width: 100% !important;
}

td {
  vertical-align: middle !important;
}

.default-datatable-responsive {
  border-collapse: collapse !important;
  border-spacing: 0 !important;
  width: 100% !important;
}

@media only screen and (max-width: 576px) {
  .table-overflow-x-scroll {
    overflow-x: scroll;
  }
}
